<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Food</title>
  </head>
  <body>
   <%- include('../partials/_navbar.ejs') %>
    <h1>Add A New Food</h1>

    <form action="/foods" method="POST">
      <label for="food">New Food: </label>
      <input type="text" name="food" id="food" required />

      <button type="submit">Add Food</button>
      </form>

  </body>
</html>
